body {
  background: #e8e8e8;
}

div#crowdchess {
  width: 100%;
}

.cg-board-wrap {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: none;
}

.sidebox {
  font-size: 12px;
  border: 1px solid #ccc;
  border-bottom-width: 0;
  display: flex;
  flex-flow: column nowrap;
}

.sidebox:last-child {
  border-bottom-width: 1px;
}

.sidebox-container {
  height: 96%;
}

.voterow {
  height: 50px;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.voterow:last-child {
  border-bottom-width: 0;
}

.voterow span {
  display: block;
  width: 52px;
}

.vote-piece {
  font-family: 'ChessSansMerida', sans-serif;
  font-size: 40px;
}

.vote-text {
  font-size: 24px;
}

.vote-count {
  text-align: right;
  padding-right: 5px;
}

.chat {
  height: calc(100% - 180px);
}

.discussion {
  height: calc(100% - 74px);
}

.chatbox {
  border: 1px solid #ccc;
  border-width: 1px 0 1px 0;
}

.tab {
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  padding: 4px 8px 5px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
}

li {
  margin: 0;
  list-style: none;
  padding: 0 0 0 5px;
}

ol {
  padding: 0;
  height: 100%;
}

.user {
  padding-right: 6px;
  opacity: 0.8;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
}

th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-width: 0 0 0 1px;
}

th {
  border-width: 0 1px 0 0;
}

td {
  background: #f0f0f0;
  padding-left: 5px;
}
